@media (max-width: 1260px) {
  .wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .portfolio__item {
    height: 300px;
  }
  .news__item {
    margin-right: 0;
  }
  .news__list {
    justify-content: space-around;
  }
}
